.top {
	margin: 20px auto 0px;
	width: 1100px;
	height: 70px;
}
.logo {
	margin-right: 70px;
	float: left;
}
.top-ul a{
	font-size: 18px;
}

.panel-title {
	line-height: 0px;
}

.panel-heading {
	padding: 20px 10px;
}

.panel-body {
	padding-top: 10px;
}

.tree-title {
	font-size: 14px;
}

.modal-label {
	margin-top: 5px;
}