<div class="foot">
    <div class="foot_cn">
        <div class="foot_left">
            <span>北京市昌平区中关村生命科学园生命园路1号&nbsp;&nbsp;邮编:102206&nbsp;&nbsp;总机电话:010-69006666&nbsp;&nbsp;客服电话:010-69006900</span>
        </div>
        <div class="foot_right">
            <p>版权所有：北京大学国际医院京ICP15061976号<br></p>
        </div>
    </div>
</div>

<style>
    .foot {
        position: fixed;
        bottom: 0px;
        background: #fbfbfb;
        width: 100%;
    }

    .foot span, p {
        font-family: "Microsoft Yahei", SimSun, sans-serif;
        color: #999999;
        font-size: 12px;
    }

    .foot_cn {
        height: 50px;
        width: 972px;
        margin: 0px auto;
    }

    .foot_left {
        float: left;
        width: 598px;
        margin-top: 15px;
    }

    .foot_right {
        float: right;
        margin-top: 15px;
    }
</style>