<div class="dropdown">
    <a href="#" class="dropdown-toggle page-person-info"
       style="font-size: 15px;   margin-left: 80%; /*position: relative; top: -20px; right: 100px; */padding: 0px;"><span
            class="glyphicon glyphicon-user"></span> 欢迎您：系统管理员</a>
    <div class="dropdown-menu dropdown-user" style="top: 0px; left: -200px; margin-left: 80%; margin-top: 20px;">
        <div class="pop-dropdown-apps user-tk">
            <div class="pda_arr"></div>
            <dl class="pda-list user_pda">
                <!--<img src="../resources/images/moRenTouXiang.jpg">-->
                <div class="userright-list">
                    <h1>超级管理员&nbsp;&nbsp;|&nbsp;&nbsp;23326</h1>
                    <h2>
                        <b>单位/部门：</b>学科规划与建设办公室
                        <br> <b>角&nbsp; &nbsp;色：</b>
                    </h2>
                </div>
                <div class="clear"></div>
                <div class="userexit">
                    <button id="btn_FanHui2" type="button" class="btn btn-info addbtm" onclick="editUser();"
                            style=" padding-top:4px;"><span class="glyphicon glyphicon-pencil"></span> 编辑信息
                    </button>
                    <button onclick="location.href='login.html'" type="button" class="btn btn-default">退出登录
                    </button>
                </div>
                <div class="clear"></div>
            </dl>
        </div>
    </div>
</div>
<div class="page-top">
    <div class="logo">
        <a id="head" href="#"><img src="../../resources/images/logo.png"></a>
    </div>
    <ul class="nav nav-pills top-ul">
        <li><a href="../Home/Home.html">首页</a></li>
        <li><a href="../MessagePass/MessagePass.html">消息传阅</a></li>
        <li><a href="../PublicOpinionManage/PublicOpinionManage.html">舆情管理</a></li>
        <li><a href="../ComplaintManage/ComplaintManage.html">投诉管理</a></li>
        <li><a href="../LitigationManage/LitigationManage.html">诉讼管理</a></li>
        <li><a href="../ReportForm/ReportForm.html">报表展示</a></li>
        <li><a href="../DataAnalysis/DataAnalysis.html">数据分析</a></li>
        <li><a href="../SystemManager/SystemManager.html">系统管理</a></li>
        <li class="dropdown">

        </li>
    </ul>
</div>

<div class="modal fade" id="person-info-modal" tabindex="-1" role="dialog" aria-labelledby="person-info-modalLabel"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom-width: 1px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="person-info-modalLabel" style="padding-left: 10px;">个人信息</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                详细信息
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="form-horizontal search-normal">
                            <div class="panel-body">
                                <div class="form-group col-xs-6">
                                    <label for="firstname" class="col-xs-3 control-label yqtj-label">人员姓名：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="firstname" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="postCode" class="col-xs-3 control-label yqtj-label">人员编码：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="postCode" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="email" class="col-xs-3 control-label yqtj-label">电子邮件：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="email" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="officePhone" class="col-xs-3 control-label yqtj-label">办公电话：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="officePhone" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="officeFax" class="col-xs-3 control-label yqtj-label">办公传真：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="officeFax" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="mobilePhone" class="col-xs-3 control-label yqtj-label">移动电话：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control date" id="mobilePhone" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="homePhone" class="col-xs-3 control-label yqtj-label">住宅电话：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control date" id="homePhone" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="defaultPosition" class="col-xs-3 control-label yqtj-label">默认岗位：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control date" id="defaultPosition"
                                               placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="IDnumber" class="col-xs-3 control-label yqtj-label">身份证号:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control date" id="IDnumber" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="birthDate" class="col-xs-3 control-label yqtj-label">出生日期：</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control date" id="birthDate" placeholder="请输入">
                                    </div>
                                </div>
                                <!-- <div class="form-group col-xs-7">
                                <label for="name" class="col-xs-3 control-label yqtj-label" sytle="heigth:20px; width:100px;">性别：</label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" id="optionsRadios1" value="option1">男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" id="optionsRadios2" value="option2">女
                                </label>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
                <button type="button" id="btn_submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".page-person-info,.dropdown-user").mouseover(function () {
            $(this).parent().addClass("open");
        });
        $(".page-person-info,.dropdown-user").mouseout(function () {
            $(this).parent().removeClass("open");
        });

        $('.top-ul li').find('a').each(function () {
            if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
                $(this).parent().siblings('li').removeClass('active');
                $(this).parent().addClass('active');
            }
        });
    });
    function editUser() {
        $('#person-info-modal').modal();
    }

</script>
<style type="text/css">
    .page-top {
        margin: 20px auto 20px;
        width: 80%;
        height: 60px;
    }

    .logo {
        margin-right: 60px;
        float: left;
    }

</style>